@import "bootstrap";

#grid {
  margin: 20px;

  td {
    height: 50px;
    width: 50px;

    &.active{
      cursor: pointer;
    }

    .cell {
      font-size: 4em;
      display: block;
      height: 100%;
      width: 100%;

      &.O {
        color: red;
      }
    }
  }
}

#loader{
  display: none;
  position: absolute;
  top: 45%;
  left: 45%;

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}